body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color:rgb(56, 51, 51);
  font-weight: lighter; 
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  width: 90%;
}

.name, h2 {
  font-size: 20px;
  letter-spacing: 1.1px;
  font-weight: bolder;
}

.name {
  float: left;
}

#color-block {
  background-color: rgb(235, 248, 255);
  padding-bottom: 3%;
}

#intro {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  color: rgb(46, 53, 65);
}

#intro a {
  text-decoration: none;
  font-weight: 900;
  color: #3070d8c0;
  padding-bottom: 1px;
  border-bottom: 1px solid #3070d8c0;
}

#highlights, #work-exp{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.column {
  float: left;
  width: 30.3%;
  height: 290px;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  font-weight: lighter; 
  outline: 1px solid rgb(0, 0, 0);
}

.column img {
  width: 99%;
  display: block;
  margin: auto;
  outline: 1px solid rgb(0, 0, 0);
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#all-exp {
  padding: 0.1%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 251, 235, 0.959);
}

.exp {
 margin: 5%;
}

.exp h5 {
  float: right;
}

h3.institution-name {
  line-height: 0.8px;
}

#links {
  display: flex;
  float: right;
}

#links a {
  border: none;
}

#links img {
  width: 2rem;
  height: auto;
  margin-right: .7rem;
}