html, body {
  margin:0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color:rgb(56, 51, 51);
  font-weight: lighter; 
  line-height: 1.5;
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  width: 75%;
}

h2 {
  font-size: 20px;
  letter-spacing: 1.1px;
  font-weight: 900;
}

.name {
  float: left;
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: 900;
}

#color-block {
  padding-bottom: 10%;
  background-image: linear-gradient(to right, rgb(251, 254, 255), rgb(231, 237, 253))
}

#intro {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 50%;
  color: rgb(46, 53, 65);
}

#intro a {
  text-decoration: none;
  font-weight: 900;
  color: #275bb0c0;
  padding-bottom: 1px;
  border-bottom: 1px solid #3070d8c0;
}

#highlights, #work-exp {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.column {
  float: left;
  width: 30.3%;
  height: 320px;
  margin: 1%;
  font-weight: lighter; 
  outline: 1px solid rgb(221, 221, 221);
  border-radius: 1%;

}

.column img {
  width: 100%;
  display: block;
  margin: auto;
  outline: 1px solid rgb(221, 221, 221);
  border-radius: 1%;
}

.column p {
  margin: 5%;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#all-exp {
  padding: 0.1%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(244, 253, 238, 0.95);
}

.exp {
 margin: 5%;
}

.exp h5 {
  float: right;
}

h3.institution-name {
  line-height: 0.8px;
}

#links {
  display: flex;
  float: right;
}

#links a {
  border: none;
}

#links img {
  width: 2rem;
  height: auto;
  margin-right: .7rem;
}